
.titleMovie {
  background-image: url("plants.png");
  width: 100%;
}

.cbscrd {
  color: rgb(33,33,33);
  
}
.cbscrd:hover {
  
  color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Current */
}
